/* optionally create new custom classes from existing classes */
.rounded-xl {
    border-radius: 3rem;
}

/* noto-serif-kr-200 - latin_korean */
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-300 - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-regular - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-500 - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-600 - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-700 - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-kr-900 - latin_korean */
  @font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Noto Serif KR'),
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/vendor/noto/noto-serif-kr-v17-latin_korean-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Noto Serif KR";

// text-primary color on dark mode
body.dark .text-primary {
  color: $link-color-dark !important;
}