{% extends "base.html" %}

{% block content %}
<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse ajustify-content-end gx-5 py-5">
      <div class="col-6 col-sm-4 col-lg-6">
        <img src="images/paul_smith_16_cropped.png" class="d-block rounded-xl mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-10">
        <h1 class="display-1 fw-bold lh-1">Seongsu Park</h1>
        <p class="lead"><b>Software engineer</b> specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary rounded-pill btn-lg px-4 me-md-2">Get in touch</button>
          <button type="button" class="btn btn-outline-secondary rounded-pill btn-lg px-4">See my works</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
